<nav class="" clickOutside (clickOutside)="clickedOutside()">
  <div class="p-6 flex justify-between items-center">
    <a class="" routerLink="/">
      <img src="assets/logo.png" alt="" />
    </a>
    <div>
      <div class="hidden md:block lg-menu">
        <ul class="flex gap-3 text-lg">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/clothing">Clothing</a></li>
          <li><a routerLink="/jewelery">Jewelery</a></li>
          <li><a routerLink="/electronics">Electronics</a></li>
          <li>
            <a routerLink="/cart" class="relative">
              <fa-icon [icon]="cart"></fa-icon>
              <span
                class="bg-red-600 text-white text-xs w-4 h-4 rounded-full absolute -top-2 -right-2 flex justify-center"
              >
                {{ (productCount$ | async) }}
              </span>
            </a>
          </li>
          <li>
            <a routerLink="/wishlist">
              <fa-icon [icon]="heart"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="cursor-pointer md:hidden" (click)="showMobileNav()">
        <fa-icon [icon]="icon" class="text-xl"></fa-icon>
      </div>
    </div>
  </div>
  <!-- mobile nav -->
  <div
    class="fixed top-0 right-[-100%] z-20 w-[50%] h-screen overflow-hidden md:hidden bg-black"
    [class.mobile]="mobile"
  >
    <div class="flex justify-end p-6 text-white font-semibold">
      <p class="text-xl cursor-pointer" (click)="showMobileNav()">X</p>
    </div>
    <ul
      class="flex flex-col gap-3 text-left pt-[70px] text-white font-bold text-xl pl-10"
    >
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/clothing">Clothing</a></li>
      <li><a routerLink="/jewelery">Jewelery</a></li>
      <li><a routerLink="/electronics">Electronics</a></li>
      <li><a routerLink="/cart">Cart</a></li>
      <li><a routerLink="/wishlist">Wishlist</a></li>
    </ul>
  </div>
</nav>
